.app-container {
  background-image: linear-gradient(to bottom right, #5e0000, #c00d0d);
  height: 1000px;
  color: white;
  text-shadow: 1px 1px black;
}

.selector-container {
  padding: 25px;
  display: flex;
  justify-content: space-around;
}

.pokemon-list-container {
  background-color: #8b0000;
}

.pokemon-data-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.full-pokemon-container {
  background-color: #c00d0d;
  margin: 5px;
  border: 2px solid black;
  border-radius: 2%;
  box-shadow: 5px 3px #5e0000;
  text-transform: capitalize;
}

.search-button {
  transform: scale(1.5);
  background: radial-gradient(#05fbfb, #29abe3);
  color: white;
  text-shadow: .5px .5px black;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

img {
  background-color: white;
  border: solid black 2px;
  border-radius: 15%;
  height: 230px;
  width: 200px;
}

a:link, a:visited {
  background: radial-gradient(#05fbfb, #29abe3);
  color: white;
  text-shadow: .5px .5px black;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background: radial-gradient(#29abe3, #003300);
}